@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');
@import 'tw-animate-css';
@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *,.dark, .dark *));
@custom-variant lang-en (&:where(html[lang='en'], html[lang='en'] *));
@custom-variant lang-ko (&:where(html[lang='ko'], html[lang='ko'] *));

@theme {
  /* Primary Colors */
  --color-primary-700: hsla(150, 100%, 32%, 1);
  --color-primary-600: hsla(150, 94%, 35%, 1);
  --color-primary-500: hsla(150, 64%, 53%, 1);
  --color-primary-400: hsla(150, 60%, 67%, 1);
  --color-primary-300: hsla(150, 59%, 78%, 1);
  --color-primary-200: hsla(150, 59%, 87%, 1);
  --color-primary-100: hsla(150, 58%, 94%, 1);
  --color-primary-50: hsla(150, 50%, 96%, 1);

  /* Text Colors */
  --color-text-highest: hsla(214, 9%, 7%, 1);
  --color-text-high: hsla(214, 10%, 20%, 1);
  --color-text-default: hsla(214, 9%, 43%, 1);
  --color-text-low: hsla(214, 9%, 63%, 1);
  --color-text-lowest: hsla(214, 9%, 80%, 1);

  /* Component Colors */
  --color-surface-highest: hsla(214, 9%, 30%, 1);
  --color-surface-high: hsla(214, 9%, 51%, 1);
  --color-surface-default: hsla(214, 14%, 85%, 1);
  --color-surface-low: hsla(214, 16%, 96%, 1);
  --color-surface-opacity: hsla(214, 11%, 43%, 0.09);

  /* Border Colors */
  --color-border-high: hsla(214, 8%, 75%, 1);
  --color-border-default: hsla(214, 3%, 90%, 1);
  --color-border-low: hsla(214, 2%, 96%, 1);

  /* Background Colors */
  --color-bg-default: hsla(0, 0%, 100%, 1);
  --color-bg-low: hsla(214, 32%, 98%, 1);
  --color-bg-lowest: hsla(214, 32%, 95%, 1);

  /* Inverse Colors */
  --color-inverse-highest: hsla(214, 20%, 97%, 1);
  --color-inverse-surface-low: hsla(214, 31%, 10%, 1);

  /* Fuchsia Colors */
  --color-fuchsia-600: hsla(294, 100%, 44%, 1);
  --color-fuchsia-500: hsla(294, 100%, 58%, 1);
  --color-fuchsia-300: hsla(294, 100%, 83%, 1);
  --color-fuchsia-100: hsla(294, 100%, 95%, 1);

  /* Slate Colors */
  --color-slate-600: hsla(215, 22%, 35%, 1);
  --color-slate-500: hsla(215, 18%, 47%, 1);
  --color-slate-300: hsla(215, 30%, 84%, 1);
  --color-slate-100: hsla(215, 41%, 96%, 1);

  /* Rise Colors - Korean */
  --color-rise-700: hsla(357, 87%, 55%, 1); /* #F02832 */
  --color-rise-600: hsla(357, 88%, 58%, 1); /* #F2363F */
  --color-rise-500: hsla(357, 91%, 64%, 1); /* #F74F57 */
  --color-rise-400: hsla(357, 93%, 73%, 1); /* #FA787F */
  --color-rise-300: hsla(357, 94%, 81%, 1); /* #FC9FA4 */
  --color-rise-200: hsla(357, 89%, 89%, 1); /* #FCCCCE */
  --color-rise-100: hsla(357, 86%, 95%, 1); /* #FDE5E6 */
  --color-rise-50: hsla(357, 86%, 97%, 1); /* #FEF2F3 */

  /* Drop Colors - Korean */
  --color-drop-700: hsla(214, 95%, 50%, 1);
  --color-drop-600: hsla(214, 96%, 57%, 1);
  --color-drop-500: hsla(214, 100%, 65%, 1);
  --color-drop-400: hsla(210, 100%, 73%, 1);
  --color-drop-300: hsla(210, 100%, 83%, 1);
  --color-drop-200: hsla(210, 100%, 90%, 1);
  --color-drop-100: hsla(210, 100%, 95%, 1);
  --color-drop-50: hsla(212, 100%, 97%, 1);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-mono700: var(--mono700);
  --color-mono600: var(--mono600);
  --color-mono500: var(--mono500);
  --color-mono450: var(--mono450);
  --color-mono400: var(--mono400);
  --color-mono300: var(--mono300);
  --color-mono200: var(--mono200);
  --color-mono100: var(--mono100);
  --color-mono50: var(--mono50);
  --color-celadon: var(--celadon);
  --color-green700: var(--green700);
  --color-green600: var(--green600);
  --color-green300: var(--green300);
  --color-green200: var(--green200);
  --color-green100: var(--green100);
  --color-red700: var(--red700);
  --color-red600: var(--red600);
  --color-red200: var(--red200);
  --color-red100: var(--red100);
  --color-red50: var(--red50);
  --color-blue700: var(--blue700);
  --color-blue600: var(--blue600);
  --color-blue200: var(--blue200);
  --color-blue100: var(--blue100);
  --color-blue50: var(--blue50);
  --color-space1: var(--space1);
  --color-space2: var(--space2);
  --color-ground1: var(--ground1);
  --color-ground2: var(--ground2);
  --color-layer: var(--layer);
  --color-action: var(--action);
  --color-cyan: var(--cyan);
  --color-ruby: var(--ruby);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --mono700: #0a0a0b;
  --mono600: #3b3b3c;
  --mono500: #585859;
  --mono450: #767676;
  --mono400: #9d9d9d;
  --mono300: #bfbfbf;
  --mono200: #dcdcdc;
  --mono100: #e5e5e5;
  --mono50: #f7f7f7;
  --celadon: #00cda8;
  --green700: #00be4c;
  --green600: #33cb70;
  --green300: #17633e;
  --green200: #ccf2db;
  --green100: #e5f8ed;
  --red700: #ef0000;
  --red600: #f23333;
  --red200: #fccccc;
  --red100: #fde5e5;
  --red50: #fef2f2;
  --blue700: #006dff;
  --blue600: #338aff;
  --blue200: #cce2ff;
  --blue100: #e5f0ff;
  --blue50: #f2f8ff;
  --space1: #f4f6f8;
  --space2: #ffffff;
  --ground1: #ffffff;
  --ground2: #fbfcfd;
  --layer: #ffffff;
  --action: #ffffff;
  --cyan: #00ccc9;
  --ruby: #ff30d6; /* size */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --mono700: #ffffff;
  --mono600: #cfd0d0;
  --mono500: #9fa0a1;
  --mono450: #797979;
  --mono400: #6e7173;
  --mono300: #56595b;
  --mono200: #3e4144;
  --mono100: #24272a;
  --mono50: #1e2124;
  --celadon: #6cffb8;
  --green700: #09d159;
  --green600: #0aab4b;
  --green300: #17633e;
  --green200: #0d3823;
  --green100: #0e251c;
  --red700: #ff3737;
  --red600: #cf3030;
  --red200: #3e191c;
  --red100: #261618;
  --red50: #1a1417;
  --blue700: #4192ff;
  --blue600: #3778d0;
  --blue200: #182c44;
  --blue100: #131f2c;
  --blue50: #111821;
  --space1: #080a0b;
  --space2: #080a0b;
  --ground1: #14181c;
  --ground2: #101317;
  --layer: #303436;
  --action: #3d4042;
  --cyan: #00e8c9;
  --ruby: #f500c0;
  /* Primary Colors */
  --color-primary-700: hsla(144, 88%, 47%, 1);
  --color-primary-600: hsla(144, 92%, 43%, 1);
  --color-primary-500: hsla(144, 88%, 36%, 1);
  --color-primary-400: hsla(144, 89%, 21%, 1);
  --color-primary-300: hsla(144, 82%, 17%, 1);
  --color-primary-200: hsla(144, 62%, 14%, 1);
  --color-primary-100: hsla(144, 45%, 10%, 1);
  --color-primary-50: hsla(144, 46%, 8%, 1);
  /* Text Colors */
  --color-text-highest: hsla(214, 20%, 97%, 1);
  --color-text-high: hsla(214, 14%, 90%, 1);
  --color-text-default: hsla(214, 11%, 62%, 1);
  --color-text-low: hsla(214, 10%, 50%, 1);
  --color-text-lowest: hsla(214, 11%, 45%, 1);

  /* Component Colors */
  --color-surface-highest: hsla(214, 11%, 68%, 1);
  --color-surface-high: hsla(214, 11%, 57%, 1);
  --color-surface-default: hsla(214, 12%, 27%, 1);
  --color-surface-low: hsla(214, 13%, 14%, 1);
  --color-surface-opacity: hsla(214, 12%, 70%, 0.12);

  /* Border Colors */
  --color-border-high: hsla(214, 11%, 32%, 1);
  --color-border-default: hsla(214, 2%, 21%, 1);
  --color-border-low: hsla(214, 1%, 16%, 1);

  /* Background Colors */
  --color-bg-default: hsla(214, 1%, 3%, 1);
  --color-bg-low: hsla(214, 15%, 8%, 1);
  --color-bg-lowest: hsla(214, 15%, 12%, 1);

  /* Inverse Colors */
  --color-inverse-highest: hsla(214, 20%, 3%, 1);
  --color-inverse-surface-low: hsla(214, 13%, 86%, 1);

  /* Orange Colors */
  --color-orange-600: var(--color-orange-400);
  --color-orange-300: var(--color-orange-500);
  --color-orange-100: var(--color-orange-950);

  /* Violet Colors */
  --color-violet-600: var(--color-violet-400);
  --color-violet-300: var(--color-violet-500);
  --color-violet-100: var(--color-violet-950);

  /* Fuchsia Colors */
  --color-fuchsia-600: hsla(293, 100%, 71%, 1);
  --color-fuchsia-500: hsla(293, 100%, 58%, 1);
  --color-fuchsia-300: hsla(293, 100%, 44%, 1);
  --color-fuchsia-100: hsla(293, 100%, 16%, 1);

  /* Slate Colors */
  --color-slate-600: hsla(215, 23%, 65%, 1);
  --color-slate-500: hsla(215, 23%, 47%, 1);
  --color-slate-300: hsla(215, 23%, 35%, 1);
  --color-slate-100: hsla(215, 23%, 5%, 1);
}

:root [lang='en'] {
  /* Rise Colors - English Light */
  --color-rise-700: hsla(150, 100%, 32%, 1); /* #00A251 */
  --color-rise-600: hsla(150, 94%, 35%, 1); /* #05B05B */
  --color-rise-500: hsla(150, 64%, 53%, 1); /* #39D486 */
  --color-rise-400: hsla(150, 60%, 67%, 1); /* #78DDAB */
  --color-rise-300: hsla(150, 59%, 78%, 1); /* #A6E8C7 */
  --color-rise-200: hsla(150, 59%, 87%, 1); /* #CCF2DF */
  --color-rise-100: hsla(150, 58%, 94%, 1); /* #E5F8EF */
  --color-rise-50: hsla(150, 50%, 96%, 1); /* #F0FAF5 */

  /* Drop Colors - English Light */
  --color-drop-700: hsla(357, 87%, 55%, 1); /* #F02832 */
  --color-drop-600: hsla(357, 88%, 58%, 1); /* #F2363F */
  --color-drop-500: hsla(357, 91%, 64%, 1); /* #F74F57 */
  --color-drop-400: hsla(357, 93%, 73%, 1); /* #FA787F */
  --color-drop-300: hsla(357, 94%, 81%, 1); /* #FC9FA4 */
  --color-drop-200: hsla(357, 89%, 89%, 1); /* #FCCCCE */
  --color-drop-100: hsla(357, 86%, 95%, 1); /* #FDE5E6 */
  --color-drop-50: hsla(357, 86%, 97%, 1); /* #FEF2F3 */
}

:root [lang='ko'] .dark,
[lang='ko'][data-theme='dark'] {
  /* Rise Colors - Korean Dark */
  --color-rise-700: hsla(357, 100%, 64%, 1);
  --color-rise-600: hsla(357, 97%, 61%, 1);
  --color-rise-500: hsla(357, 64%, 49%, 1);
  --color-rise-400: hsla(357, 65%, 30%, 1);
  --color-rise-300: hsla(357, 61%, 23%, 1);
  --color-rise-200: hsla(357, 43%, 17%, 1);
  --color-rise-100: hsla(357, 27%, 12%, 1);
  --color-rise-50: hsla(357, 13%, 9%, 1);

  /* Drop Colors - Korean Dark */
  --color-drop-700: hsla(214, 99%, 66%, 1);
  --color-drop-600: hsla(214, 100%, 62%, 1);
  --color-drop-500: hsla(214, 75%, 48%, 1);
  --color-drop-400: hsla(213, 71%, 35%, 1);
  --color-drop-300: hsla(213, 63%, 28%, 1);
  --color-drop-200: hsla(213, 48%, 18%, 1);
  --color-drop-100: hsla(211, 40%, 12%, 1);
  --color-drop-50: hsla(214, 32%, 10%, 1);
}

:root [lang='en'] .dark,
[lang='en'][data-theme='dark'] {
  /* Rise Colors - English Dark */
  --color-rise-700: hsla(144, 88%, 47%, 1);
  --color-rise-600: hsla(144, 92%, 43%, 1);
  --color-rise-500: hsla(144, 88%, 36%, 1);
  --color-rise-400: hsla(144, 89%, 21%, 1);
  --color-rise-300: hsla(144, 82%, 17%, 1);
  --color-rise-200: hsla(144, 62%, 14%, 1);
  --color-rise-100: hsla(144, 45%, 10%, 1);
  --color-rise-50: hsla(144, 46%, 8%, 1);

  /* Drop Colors - English Dark */
  --color-drop-700: hsla(357, 100%, 64%, 1);
  --color-drop-600: hsla(357, 97%, 61%, 1);
  --color-drop-500: hsla(357, 64%, 49%, 1);
  --color-drop-400: hsla(357, 65%, 30%, 1);
  --color-drop-300: hsla(357, 61%, 23%, 1);
  --color-drop-200: hsla(357, 43%, 17%, 1);
  --color-drop-100: hsla(357, 27%, 12%, 1);
  --color-drop-50: hsla(357, 13%, 9%, 1);
}

@layer base {
  /* 특정 HTML 요소에 대한 기본 스타일 추가 */
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Pretendard', Arial, Helvetica, sans-serif;
    height: 100vh;
  }
}

@layer components {
  /* 프로젝트에 추가하고 싶지만 유틸리티 클래스로 재정의 할 수 있는 복잡한 클래스가 있는 경우 해당 레이어 사용 */
  /* 또는 다른 패키지(스와이퍼나, 바텀시트 등)의 스타일 수정을 위한 사용자 정의스타일을 처리할떄도 여기에 작성 */
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
