@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');
@import 'tw-animate-css';
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-mono700: var(--mono700);
  --color-mono600: var(--mono600);
  --color-mono500: var(--mono500);
  --color-mono450: var(--mono450);
  --color-mono400: var(--mono400);
  --color-mono300: var(--mono300);
  --color-mono200: var(--mono200);
  --color-mono100: var(--mono100);
  --color-mono50: var(--mono50);
  --color-celadon: var(--celadon);
  --color-green700: var(--green700);
  --color-green600: var(--green600);
  --color-green300: var(--green300);
  --color-green200: var(--green200);
  --color-green100: var(--green100);
  --color-red700: var(--red700);
  --color-red600: var(--red600);
  --color-red200: var(--red200);
  --color-red100: var(--red100);
  --color-red50: var(--red50);
  --color-blue700: var(--blue700);
  --color-blue600: var(--blue600);
  --color-blue200: var(--blue200);
  --color-blue100: var(--blue100);
  --color-blue50: var(--blue50);
  --color-space1: var(--space1);
  --color-space2: var(--space2);
  --color-ground1: var(--ground1);
  --color-ground2: var(--ground2);
  --color-layer: var(--layer);
  --color-action: var(--action);
  --color-cyan: var(--cyan);
  --color-ruby: var(--ruby);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --mono700: #0a0a0b;
  --mono600: #3b3b3c;
  --mono500: #585859;
  --mono450: #767676;
  --mono400: #9d9d9d;
  --mono300: #bfbfbf;
  --mono200: #dcdcdc;
  --mono100: #e5e5e5;
  --mono50: #f7f7f7;
  --celadon: #00cda8;
  --green700: #00be4c;
  --green600: #33cb70;
  --green300: #17633e;
  --green200: #ccf2db;
  --green100: #e5f8ed;
  --red700: #ef0000;
  --red600: #f23333;
  --red200: #fccccc;
  --red100: #fde5e5;
  --red50: #fef2f2;
  --blue700: #006dff;
  --blue600: #338aff;
  --blue200: #cce2ff;
  --blue100: #e5f0ff;
  --blue50: #f2f8ff;
  --space1: #f4f6f8;
  --space2: #ffffff;
  --ground1: #ffffff;
  --ground2: #fbfcfd;
  --layer: #ffffff;
  --action: #ffffff;
  --cyan: #00ccc9;
  --ruby: #ff30d6; /* size */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --mono700: #ffffff;
  --mono600: #cfd0d0;
  --mono500: #9fa0a1;
  --mono450: #797979;
  --mono400: #6e7173;
  --mono300: #56595b;
  --mono200: #3e4144;
  --mono100: #24272a;
  --mono50: #1e2124;
  --celadon: #6cffb8;
  --green700: #09d159;
  --green600: #0aab4b;
  --green300: #17633e;
  --green200: #0d3823;
  --green100: #0e251c;
  --red700: #ff3737;
  --red600: #cf3030;
  --red200: #3e191c;
  --red100: #261618;
  --red50: #1a1417;
  --blue700: #4192ff;
  --blue600: #3778d0;
  --blue200: #182c44;
  --blue100: #131f2c;
  --blue50: #111821;
  --space1: #080a0b;
  --space2: #080a0b;
  --ground1: #14181c;
  --ground2: #101317;
  --layer: #303436;
  --action: #3d4042;
  --cyan: #00e8c9;
  --ruby: #f500c0;
}

@layer base {
  /* 특정 HTML 요소에 대한 기본 스타일 추가 */
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Pretendard', Arial, Helvetica, sans-serif;
    height: 100vh;
    background: #080a0b;
  }
}

@layer components {
  /* 프로젝트에 추가하고 싶지만 유틸리티 클래스로 재정의 할 수 있는 복잡한 클래스가 있는 경우 해당 레이어 사용 */
  /* 또는 다른 패키지(스와이퍼나, 바텀시트 등)의 스타일 수정을 위한 사용자 정의스타일을 처리할떄도 여기에 작성 */
}
